

.error404{
    height: 500px;
    width: 500px;
    margin-top: 12%;
    margin-left: 45%;
    font-size: 100px;
    position: relative;
  }
  
.error404_helper{
    margin-top: -20%;
    margin-left: 0%;
    font-size: 80px;
    text-align: center;
    position: relative;
  }